ion-content{
    --background: linear-gradient(-45deg, #E0BBE4
, #957DAD
, #D291BC
, #FEC8D8
,#FFDFD3 );
--color: #ffffff;
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;
--ion-color-base: transparent !important;

}
ion-card{
    border-radius: 10px;
    width: 300px;
    height: 400px;
    font-size: 30px;
    font-weight: bold;
    position: relative;left: 60px;
    position: relative;top: 90px;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Courier New", "TH Niramit AS", monospace;
}
